@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-ol {
    list-style-type: none; /* Remove default numbering */
    counter-reset: item; /* Create a new instance of the counter */
}

.custom-ol li {
    counter-increment: item; /* Increment the counter */
}

.custom-ol li::before {
    content: "(" counter(item) ") "; /* Format the counter */
}

.google-auth-button {
    border-radius: 0.75rem !important;
    border: none !important;
    background-color: #F4F7FE !important;
}

.google-auth-button div {
    background-color: transparent !important;
}

.google-auth-button span {
    color: #2B3674 !important;
    font-size: 0.875rem !important;
    font-weight: 500 !important;
    line-height: 1.25rem !important;
    letter-spacing: -0.0175rem !important;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none; /* Removes default styling */
    appearance: none;
    width: 10px; /* Size of the thumb */
    height: 10px; /* Size of the thumb */
    background: #ffffff; /* Thumb color */
    cursor: pointer; /* Cursor type */
    border-radius: 50%; /* Makes it circular */
}

input[type='range']::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 50%;
}