@tailwind base;
@tailwind components;
@tailwind utilities;

.google-auth-button {
    border-radius: 0.75rem !important;
    border: none !important;
    background-color: #F4F7FE !important;
}

.google-auth-button div {
    background-color: transparent !important;
}

.google-auth-button span {
    color: #2B3674 !important;
    font-size: 0.875rem !important;
    font-weight: 500 !important;
    line-height: 1.25rem !important;
    letter-spacing: -0.0175rem !important;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none; /* Removes default styling */
    appearance: none;
    width: 10px; /* Size of the thumb */
    height: 10px; /* Size of the thumb */
    background: #4A90E2; /* Thumb color */
    cursor: pointer; /* Cursor type */
    border-radius: 50%; /* Makes it circular */
}

input[type='range']::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #4A90E2;
    cursor: pointer;
    border-radius: 50%;
}